<template>
  <div data-template="profile_sidebar">
    <div id="profile_photo">
      <img :src="account.avatar">
    </div>
    <div id="profile_fields" v-if="account.fields">
      <div class="field_wrapper" v-for="field in account.fields">
              <b>{{field.name}}</b>
              <p v-html="field.value"></p>
      </div>
    </div>
    <div id="profile_info">
      <li><h5>Bio</h5>
        <div class="ltr markdown-content">
          <p v-html="profileEmoji(account.note)"></p>
        </div>
      </li>
    </div>
  </div>
</template>



<script>
export default {
  name: 'ProfileSidebar',
  props: ['account'],
  methods: {
  }
}
</script>

<style>
#profile-photo img {
  width: 100%;
}
#profile_fields {
  margin-top: 10px;
  max-width: 100%;
  font-size: 15px;
}

#profile_fields .table td {
  word-wrap: anywhere;
}

#profile_fields .table thead th {
  text-align: center;
}
</style>
