<template>
  <div id="stream">
    <div class="row">
      <Sidebar/>
      <div class="col-md-9">
          <div id="main-stream" class="stream">
              <Composer v-if="isLoggedIn"/>
              <StreamActivity v-for="activity in timeline" :activity="activity" :key="activity.id"/>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/nav/sidebar'
import StreamActivity from '@/components/status/stream_activity'
import timelineAPI from '@/services/api/timeline'
import Composer from '@/components/composer'
export default {
  name: 'Local',
  components: {
    Sidebar, StreamActivity, Composer
  },
  data () {
    return {
      loaded: false,
      timeline: []
    }
  },
  methods: {
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated
    }
  },
  // Fetches posts when the component is created.
  mounted () {
    // this feels like a gross hack, holy shit
    (async () => {
      timelineAPI.publicIndex({'local': 'true'}).then(res => {
        this.timeline = res.data
      })
    })()
  }
}
</script>
