<template>
  <div class="container-fluid main-stream-publisher">
    <div class="publisher_avatar pull-left hidden-xs">
      <a class="self" href="/people/1">
        <img alt="Sean Tilley" class="avatar mr-3 rounded border" title="Sean Tilley" src="https://joindiaspora.com/uploads/images/thumb_small_1b1026d658fed00da699.jpg">
      </a>
    </div>

    <div id="publisher" class="closed publisher row">
      <div class="content_creation">
        <form id="new_status_message" class="new_status_message" accept-charset="UTF-8" method="post">
          <textarea rows="2" tabindex="1" name="statusMessage" v-model="form.content" placeholder="Start a conversation..." class="form-control mention-textarea md-input" id="status_message_text" style="resize: none; overflow: hidden; overflow-wrap: break-word;"></textarea>
          <div class="post_actions">
            <b-form-select v-model="selected" id="privacy" class="mb-3">
              <b-form-select-option value="public">Public</b-form-select-option>
              <b-form-select-option value="unlisted">Unlisted</b-form-select-option>
              <b-form-select-option value="private">Followers-Only</b-form-select-option>
              <b-form-select-option v-for='list in lists' :value="`list:${list.id}`">{{list.title}}</b-form-select-option>
            </b-form-select>
            <div @click="submit" class="btn btn-primary postStatus">Share</div>
          </div>
        </form>
      </div>
    </div>

  </div>
</template>

<script>
import { mapActions } from 'vuex'
import listsAPI from '@/services/api/lists'
export default {
  name: 'Composer',
  data () {
    return {
      form: {
        statusMessage: ''
      },
      isClosed: true,
      selected: null,
      lists: []
    }
  },
  methods: {
    ...mapActions(['postStatus']),
    async submit () {
      const Activity = new FormData()
      Activity.append('status', this.form.content)
      Activity.append('visibility', this.selected)
      Activity.append('content_type', 'text/markdown')
      Activity.append('in_reply_to_id', this.$route.params.id)
      try {
        await this.postStatus(Activity)
        this.form.content = ''
        this.$emit('update-timeline')
        this.showError = false
      } catch (error) {
        this.showError = true
      }
    },
    startCompose: function (event) {
      this.compose = !this.compose
    }
  },
  mounted () {
    listsAPI.getLists().then(res => {
      this.lists = res.data
    })
  }
}
</script>

<style>
.main-stream-publisher .avatar {
    height: 50px;
    width: 50px;
}

.publisher.closed #publisher-textarea-wrapper {
    border: 1px solid #ddd !important;
}

.publisher form #publisher-textarea-wrapper {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #999;
}

.publisher-textarea-wrapper {
    position: relative;
}

.main-stream-publisher {
  padding: 0;
}

.publisher {
    z-index: 1;
    color: #999;
    margin: 0;
        margin-bottom: 0px;
        margin-left: 0px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 93%;
}

.publisher_avatar {
    display: inline-block;
    vertical-align: top;
    float: none !important;
    width: 50px;
}

#privacy {
  max-width: 20%;
  float: left;
}

.post_actions {
  margin-top: 10px;
}

.content_creation {
  width: 100%;
}

.new_status_message button {
  float: right;
  margin-top: 10px;
}

form#new_status_message textarea {
  height: 50px;
  font-size: 13px;
}

form#new_status_message textarea:focus {
  height: 90px;
}

.postStatus {
  float: right;
}
</style>
