<template>
  <div class="attachment">
    <img v-if="attachment.type == 'image'" :src="attachment.preview_url" :alt="attachment.description" class="lightbox">
    <a v-if="attachment.type == 'video'" class="video-container">
      <video :src="attachment.preview_url" :alt="attachment.description"></video>
    </a>
  </div>
</template>

<script>
export default {
  props: ['attachment']
}
</script>

<style scoped>
.attachment {
  max-width: 100%;
  margin: 5px 0px 0px 0px;
}
img {
  width: 98%;
}

video {
  max-width: 100%;
}

.attachments .video-container {
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
}

</style>
