<template>
  <div id="poll">
    <div class="poll-wrapper" v-if="voteState === false & expired === false">
      <div class="poll-options" v-for="(option, index) in activity.poll.options" :key="voteState" @change="selectedOptions($event)">
        <b-form-radio v-model="checked" :aria-describedby="option.title" :name="option.title" :value="index">{{option.title}}</b-form-radio>
      </div>
      <b-button variant="outline-primary" size="sm" @click="fakeVote">Vote</b-button>
    </div>
    <div class="poll-wrapper" v-if-else="(voteState === true || expired === true)">
      <div class="poll-options" v-for="(option, index) in activity.poll.options" :key="voteState">
        <b>{{option.title}}</b>
        <b-progress :value="pollData(index)" :max="max" show-value class="mb-3"></b-progress>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const BASEURL = 'https://social.deadsuperhero.com'
var selectedOptions = []
export default {
  name: 'PollEmbed',
  props: ['activity'],
  data () {
    return {
      max: this.activity.poll.votes_count,
      checked: selectedOptions,
      voteState: this.activity.poll.voted,
      selection: 0,
      expired: this.activity.poll.expired
    }
  },
  methods: {
    selectedOptions (event) {
      var selectedOptions = event.target.value
    },
    pollData (index) {
      var votes = this.activity.poll.options[index].votes_count
      return votes
    },
    async votePoll (event) {
      await axios({
        method: 'POST',
        url: `${BASEURL}/api/v1/polls/` + this.activity.poll.id + `/votes/`,
        data: {
          'choices': [
            this.$data.checked
          ]
        }
      }).then(data => {
        this.$emit('updated', data.poll.voted)
      })
    },
    async fakeVote (event) {
      this.voteState = true
    }
  },
  mounted () {
    this.$watch(this.voteState, () => {
      console.log('Activity changed!')
    })
  }
}
</script>

<style>
</style>
