<template>
  <div :id="context.id" class="comment media" data-template="comment" @click="focused = context.id">
    <a :href="`/people/${context.account.id}`">
    <img :src="context.account.avatar" class="mr-3 rounded border" width="40" height="40">
  </a>
    <div class="bd">
      <a class="author-name" :href="`/people/${context.account.id}`" v-html="remoteEmoji(context.account.display_name)"></a>
      <a class="post-time" v-b-tooltip.hover :title="niceFormat(activity.created_at)" :href="`/status/${activity.id}#${context.id}`">{{fuzzyFormat(context.created_at)}}</a>
      <div class="collapsible comment-content markdown-content">
          <p v-html="contextEmoji(context.content)"></p>
          <MediaAttachment v-for="attachment in context.media_attachments" v-bind:key="attachment.id" v-bind:attachment="attachment" v-bind:sensitive="activity.sensitive" />
      </div>
    </div>
  </div>
</template>

<script>
import MediaAttachment from '@/components/embeds/media-attachment'
export default {
  name: 'Context',
  props: ['activity', 'context', 'account'],
  components: { MediaAttachment },
  methods: {
  }
}
</script>
