<template>
    <div class="status">
      <a :href="`/people/${activity.reblog.account.id}`">
        <img :src="activity.reblog.account.avatar" class="avatar">
      </a>
      <div class="status-body">
        <div class="byline">
          <a class="author-name" :href="`/people/${activity.reblog.account.id}`"v-html="accountEmoji(activity.reblog.account.display_name)"></a>
          <router-link :to="`/status/${activity.reblog.id}`" tag="a" class="timestamp"
          v-b-tooltip.hover :title="niceFormat(activity.reblog.created_at)">{{fuzzyFormat(activity.created_at)}}</router-link>
        </div>
        <div class="body-inner">
          <div class="content_reveal" v-if="activity.reblog.spoiler_text">
          <b-button v-b-toggle="activity.reblog.id" class="m-1 btn-cw" v-html="statusEmoji(activity.reblog.spoiler_text)"></b-button>
          <div class="body-inner" id="statusBody" >
            <b-collapse :id="activity.reblog.id">
              <p v-html="statusEmoji(activity.reblog.content)"></p>
              <MediaAttachment v-for="attachment in activity.reblog.media_attachments" v-bind:key="attachment.id" v-bind:attachment="attachment" v-bind:sensitive="activity.sensitive" />
            </b-collapse>
          </div>
        </div>
        <div class="content_reveal" v-else >
          <p v-html="statusEmoji(activity.reblog.content)"></p>
            <PollEmbed v-bind:activity="activity.reblog" v-if="activity.reblog.poll"/>
          <MediaAttachment v-for="attachment in activity.reblog.media_attachments" v-bind:key="attachment.id" v-bind:attachment="attachment" v-bind:sensitive="activity.sensitive" />
        </div>
      </div>
        <div class="status-footer">
          <div class="visibility">
            <div v-if="activity.reblog.visibility === 'public'">
              <p>Public</p>
            </div>
          </div>
            <div class="action-links">
             –
             <a @click='setLike()' class="like" ref='likeToggle' rel="nofollow">
               <div v-if="activity.reblog.favourited === true">
               Unlike
             </div>
             <div v-else>
               Like
             </div>
             </a>
            ·
            <a href="#" class="reshare" rel="nofollow">Reshare</a>
            ·
            <a href="#" class="comment" rel="nofollow">Comment</a>
            </div>
        </div>
    </div>
  </div>

</template>

<script>
import profileAPI from '@/services/api/profile.js'
import activityAPI from '@/services/api/activity.js'
import MediaAttachment from '@/components/embeds/media-attachment'
import PollEmbed from '@/components/embeds/poll'
export default {
  props: ['activity'],
  components: { MediaAttachment, PollEmbed },
  methods: {
    setLike: function (event) {
      if (this.activity.reblog.favourited === false) {
        activityAPI.likeStatus(this.activity.reblog.id)
        this.$refs.likeToggle.innerText = 'Unlike'
        this.activity.reblog.favourited = true
      } else {
        activityAPI.unlikeStatus(this.activity.reblog.id)
        this.$refs.likeToggle.innerText = 'Like'
        this.activity.reblog.favourited = false
      }
    }
  }
}
</script>
