<template>
  <div id="comments">
    <ul v-if="contexts" class="list-group">
        <div :id="context.id" class="comment media" data-template="comment">
          <a :href="context.account.url">
          <img :src="context.account.avatar" class="mr-3 rounded border" width="40" height="40">
        </a>
          <div class="bd">
            <a class="author-name" :href="context.account.url" v-html="emojify(context.account.display_name)"></a>
            <a class="post-time" v-b-tooltip.hover :title="niceFormat(context.created_at)" :href="`/status/${activity.id}#${context.id}`">{{fuzzyFormat(context.created_at)}}</a>
            <div class="collapsible comment-content markdown-content">
                <p v-html="context.content"></p>
                <MediaAttachment v-for="attachment in context.media_attachments" v-bind:key="attachment.id" v-bind:attachment="attachment" v-bind:sensitive="activity.sensitive" />
            </div>
          </div>
        </div>
    </ul>
  </div>
</template>

<script>
import MediaAttachment from '@/components/embeds/media-attachment'
export default {
  name: 'StreamReplies',
  props: ['activity'],
  components: { MediaAttachment }
}
</script>
