<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <router-link to="/" tag="a" class="navbar-brand"><span>Sporadic*</span></router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <router-link to="/stream" tag="a" class="nav-link"><span>Stream</span></router-link>
            </li>
            <li class="nav-item">
              <router-link to="/activity" tag="a" class="nav-link"><span>My Activity</span></router-link>
            </li>
          </ul>
        </div>

    <div class="form-group">
      <input type="search" class="form-control" id="search" aria-describedby="search" placeholder="Search">
    </div>

    <ul class="nav navbar-nav navbar-right">
      <span v-if="isLoggedIn">
        <a @click="logout">Logout {{username}}</a>
      </span>
      <li id="user-menu" class="dropdown user-menu">
        <a :href="`/people/1`" tag="a" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="user-avatar pull-left"></span>
          <span class="user-name">Sean Tilley</span>
          <span class="caret"></span>
        </a>
      </li>
      </ul>

    </div>
  </nav>
</template>


<script>
import {mapState} from 'vuex'
export default {
  name: 'Headernav',
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated
    },
    ...mapState({
      username: state => state.setUser
    })
  },
  methods: {
    async logout () {
      await this.$store.dispatch('LogOut')
      this.$router.push('/login')
    }
  }
}
</script>
